

@{
    ViewData["Title"] = "Chat";
}

<input hidden value="@Model" id="userName" />

<div class="row">
    <div class="col-md-10">
        <input class="form-control" id="txtMessage" placeholder="Enter your message" />
    </div>
    <div class="col-md-2">
        <button id="btnSend" disabled class="btn btn-success">Send message</button>
    </div>
    <hr class="col-md-12 py-3" />
    <div class="col-md-12">
        <ul id="listMessages">

        </ul>
    </div>
</div>

@section Scripts{
    <script src="~/lib/aspnet-signalr/signalr.min.js"></script> 
    <script src="~/js/site.js" asp-append-version="true"></script>
}